button {
    color: black;
    font-style: normal;
    background-color: #AAAAAA;
    border: 0.1em solid dimgray;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: aqua;
}

label {
    font-weight: bolder;
    font-family: "Yuanti SC", system-ui;
    font-size: 20px;
}